
 <div class="cards">
  <h1> StudentView</h1>
<div class="services">
    <div class="content content-1">
      <div class="fas fa-smile-beam">
</div>
  <h2> Nombre</h2>
  <p> Curso</p>
  <p> Colegio</p>
<a href="#">Asignaturas</a>
    </div>
<div class="content content-2">
  <div class="fas fa-smile-beam">
</div>
  <h2> Nombre</h2>
  <p> Curso</p>
  <p> Colegio</p>
  <a href="#">Asignaturas</a>
</div>
<div class="content content-3">
      <div class="fas fa-smile-beam">
</div>
  <h2> Nombre</h2>
  <p> Curso</p>
  <p> Colegio</p>
  <a href="#">Asignaturas</a>
    </div>
</div>
</div>
