.container{
    width: 100%;
    display:block;
    position:relative;
    text-align: center;
    height: auto;
}

#tamaño{
    height: 80px;
    width: 200px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

tr{
    cursor: pointer;
}

.body{
    background-color: #d7dfee;
    width: 80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}