<div class="body">
    <div class="row">
        <div class="container margin"><i id="fila" (click)="opciones()" class="fas fa-filter fa-3x"></i></div>
    </div>
    <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="container margin" *ngIf="options == true"><form #formFilter="ngForm" (ngSubmit)="filter(formFilter.value)">
                    <div class="form-group">
                        <label for="tipo"><b>Tipo de nota</b></label><br>
                        <select id="tipo" ngModel name="tipoDeCalificacion" ngModel>
                            <option value="todos">Todos</option>
                            <option value="trabajo">Trabajo</option>
                            <option value="examen">Examen</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="prevision"><b>Estado</b></label><br>
                        <select id="prevision" name="prevision" ngModel>
                            <option value="todos">Todos</option>
                            <option value="previsto">Previsto</option>
                            <option value="realizado">Realizado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipo"><b>Nota</b></label><br>
                        <select id="tipo" name="estadoNota" ngModel>
                            <option value="todos">Todos</option>
                            <option value="aprobado">Aprobado</option>
                            <option value="suspenso">Suspenso</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="asignatura"><b>Asignatura</b></label><br>
                        <select id="asignatura" name="estadoNota" ngModel>
                            <option value="todos">Todos</option>
                            <option value="biologia">Biologia</option>
                            <option value="matematicas">Matematicas</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-danger">Filtrar</button>
                </form></div>
            </div>
            <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table margin">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Asignatura</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Nota</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let nota of notas" [ngStyle]="(nota.nota) >= 5 ? {'background-color': '#99FF99'} : {'background-color': '#FF9999'}">
                    <td><b>{{nota.asignatura}}</b></td>
                    <td><b>{{nota.fecha}}</b></td>
                    <td><b>{{nota.nota}}</b></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>
