<nav class="title">
    <h1>Calificaciones</h1>
</nav>

<div class="body">
    <div class="row">
        <div class="container margin"><i id="fila" (click)="opciones()" class="fas fa-filter fa-3x"></i></div>
    </div>
    <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="container margin" *ngIf="options == true"><form #formFilter="ngForm" (ngSubmit)="filter(formFilter.value)">
                    <div class="form-group">
                        <label for="tipo"><b>Tipo de nota</b></label><br>
                        <select class="form-control" id="tipo" ngModel name="tipoDeCalificacion" ngModel>
                            <option value="todos">Todos</option>
                            <option value="trabajo">Trabajo</option>
                            <option value="examen">Examen</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipo"><b>Nota</b></label><br>
                        <select class="form-control" id="tipo" name="estadoNota" ngModel>
                            <option value="todos">Todos</option>
                            <option value="aprobado">Aprobado</option>
                            <option value="suspenso">Suspenso</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="asignatura"><b>Asignatura</b></label><br>
                        <select class="form-control" id="asignatura" name="asignatura" ngModel>
                            <option value="todos">Todos</option>
                            <option *ngFor="let asignatura of asignaturas; let i = index" value="{{asignatura.id_asignatura}}">{{asignatura.nombre}}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-danger">Filtrar</button>
                </form></div>
            </div>
            <div class="col-2"></div>
    </div>
    <ng-template #contenido let-modal>
        <div class="modal-header container">
            <h4><b>Nota Media: </b></h4>
        </div>
        <div class="modal-body" [ngStyle]="(notamedia) >= 5 ? {'background-color': '#99FF99'} : {'background-color': '#FF9999'} ">
            <h1 id="nota" class="container">{{notamedia1}}</h1>
        </div>
        <div class="modal-footer">
            <button class="btn btn-dark container" (click)="modal.close()">Cerrar</button>
        </div>
    </ng-template>
    <table class="table margin">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Asignatura</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nota</th>
            </tr>
        </thead>
        <tbody>
            <tr id="fila" *ngFor="let not of nota" [ngStyle]="(not.nota) >= 5 ? {'background-color': '#99FF99'} : {'background-color': '#FF9999'}">
                <td><b>{{not.asignatura}}</b></td>
                <td><b>{{not.fecha | fechas}}</b></td>
                <td><b>{{not.nota}}</b></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="container margin marginbottom">
            <button type="button" class="btn btn-outline-primary" (click)="calcularMedia(contenido)">Calcular Media</button>
        </div>
    </div>
</div>

