.body{
    background-color: #d7dfee;
}

.container{
    width: 100%;
    display:block;
    position:relative;
    text-align: center;
    height: auto;
}

.margin{
    margin-top: 10px;
}

select{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 50%;
}

#fila{
    cursor: pointer;
}