<!-- //INFO USUARIO PADRE// -->
<div *ngIf="service.navPadres == true && mostrar == false" class="view-profile-card-padre">
  <img class="image-profile-padre" src="{{padre.foto}}" alt="User profile"/>
  <div class="container-info-padre"> 
    <h5 class="title">{{padre.username}}</h5>
    <p class="name"><b>Nombre:</b> {{padre.nombre}}</p>
    <p class="lastname"><b>Apellidos:</b> {{padre.apellidos}}</p>
    <p class="description"><b>Descripción:</b> {{padre.descripcion}}</p>
    <p class="email"><b>Email:</b> {{padre.email}}</p>
    <p class="contacto"><b>Contacto:</b> {{padre.contacto}}</p>
   

    <div class="button-edit-padre"><i (click)="editar()" class="fas fa-user-edit "> <span style="font-family: Arial, Helvetica, sans-serif;"></span>Editar perfil</i></div>
  </div>
</div>

<!--EDITAR USUARIO PADRE-->
<div *ngIf="service.navPadres == true && mostrar == true" class="edit-profile-padre">

  <div class="contenedor-imagen-padre">
  <img  alt="User profile" src={{padre.foto}} id="avatarPadre" class="image-profile-edit-padre"/> 
  <label>
    <input class="foto-seleccionada"
           type="file"
           accept="image/*"
           id="fotosubidaPadre"
           (change)="actualizarFotoPadre()"/>
  </label> 
</div>

<div class="card-body">
  <form>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="Nombre" [(ngModel)]="padre.nombre">
      </div>
      <div class="form-group">
        <label for="lastname">Apellidos</label>
        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Apellidos" [(ngModel)]="padre.apellidos">
      </div>
      <div class="form-group">
        <label for="description">Descripcion</label>
        <input type="text" class="form-control" name="description" id="description" placeholder="Descripcion" [(ngModel)]="padre.descripcion">
    </div>
      <div class="form-group">
        <label for="username">Usarname</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Usarname" [(ngModel)]="padre.username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="padre.password">
  </div>

      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Email" [(ngModel)]="padre.email">
      </div>
      <div class="form-group">
        <label for="contacto">Contacto</label>
        <input type="contacto" class="form-control" name="contacto" id="contacto" placeholder="Contacto" [(ngModel)]="padre.contacto">
    </div>
    </form>
</div>
<div>
  <button type="button" (click)="actualizarPadre()" class="btn btn-warning button-actualizar">Actualizar</button>
</div>
</div>



<!--INFO USUARIO PROFE-->
<div *ngIf="service.navPadres == false && mostrar == false" class="view-profile-card">
  <img class="image-profile" src="{{profesor.foto}}" alt="User profile"/>
 <div class="container-info"> 
    <h5 class="title">{{profesor.username}}</h5>
    <p class="name"><b>Nombre:</b> {{profesor.nombre}}</p>
    <p class="lastname"><b>Apellidos:</b> {{profesor.apellidos}}</p>
    <p class="description"><b>Descripción:</b> {{profesor.descripcion}}</p>
    <p class="email"><b>Email:</b> {{profesor.email}}</p>
    <br/>
    <div class="button-edit"><i (click)="editar()" class="fas fa-user-edit "> <span style="font-family: Arial, Helvetica, sans-serif;"></span>Editar perfil</i></div>
</div>
</div>

<!--EDITAR USUARIO PROFE-->
<div *ngIf="service.navPadres == false && mostrar == true" class="edit-profile">

  <div class="contenedor-imagen">
  <img  alt="User profile" src={{profesor.foto}} id="avatar" class="image-profile-edit"/> 
  <label>
    <input class="foto-seleccionada"
           type="file"
           accept="image/*"
           id="fotosubida"
           (change)="actualizarFoto()"/>
  </label> 
</div>

  <div class="card-body">
      <form>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="Nombre" [(ngModel)]="profesor.nombre">
          </div>
          <div class="form-group">
            <label for="lastname">Apellidos</label>
            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Apellidos" [(ngModel)]="profesor.apellidos">
          </div>
          <div class="form-group">
            <label for="username">Usarname</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Usarname" [(ngModel)]="profesor.username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="profesor.password">
      </div>

          <div class="form-group">
              <label for="description">Descripcion</label>
              <input type="text" class="form-control" name="description" id="description" placeholder="Descripcion" [(ngModel)]="profesor.descripcion">
          </div>
          
          <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" [(ngModel)]="profesor.email">
          </div>
        </form>
  </div>
  <div>
      <button type="button" (click)="actualizar()" class="btn btn-warning button-actualizar">Actualizar</button>
  </div>
</div>

 <!-- El atributo Accept define los archivos aceptados para la entrada.  -->
    <!-- Image/* especifica que podemos elegir imágenes de cualquier tipo por esta entrada. 
    #imageInput es una referencia de entrada en la que podemos acceder a los archivos cargados// -->

  

  