.body{
    background-color: #d7dfee;
    width: 80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.rojo{
    color: red;
}

.verde{
    color: green;
}

#size{
    width: 500px;
    height: 500px;
}

.container{
    width: 100%;
    display:block;
    position:relative;
    text-align: center;
    height: auto;
}
label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    position: relative;
    top: 7px;
}

#valor{
    margin-top: 10px;
    margin-bottom: 10px;
}

.fila{
    cursor: pointer;
}

#insertar{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 50px;
}

#msg{
    height: 50px;
    width: 85%;
    font-size: small;
}

input{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

select{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#men{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    position: relative;
    top: 7px;
}

#selemens{
    width: 80%;
}
