.title{
    margin-top: 1%;
    position: relative;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 50%;
     margin-bottom: 3%;
     margin-left: auto;
  }

.body{
    background: rgba(169, 181, 196, 0.8);
    width: 80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    border-width: 1px;
}
.rojo{
    color: rgb(219, 50, 50);
}

.verde{
    color: rgb(91, 230, 91);
}

#size{
    width: 500px;
    height: 500px;
}

.container{
    width: 100%;
    display:block;
    position:relative;
    text-align: center;
    height: auto;
}
label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    position: relative;
    top: 7px;
}

#valor{
    margin-top: 10px;
    margin-bottom: 10px;
}

.fila{
    cursor: pointer;
}

#insertar{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 50px;
}



#men{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    position: relative;
    top: 7px;
}



#titulo{
    font-family: 'Noto Sans', sans-serif;
}

#msg{
    height: 100px;
}