<header class="block">
  <ul class="header-menu horizontal-list">
      <li>
          <a class="header-menu-tab" href="#1"><span class="icon entypo-cog scnd-font-color"></span>Ajustes</a>
      </li>
      <li>
          <a class="header-menu-tab" href="#2"><span class="icon fontawesome-user scnd-font-color"></span>Cuenta</a>
      </li>
  </ul>
  <div class="profile-menu">
      <p>Cambiar Perfil <a href="#26"><span class="entypo-down-open scnd-font-color"></span></a></p>
      <div class="profile-picture small-profile-picture">
          <img width="40px"  src="https://image.freepik.com/foto-gratis/vista-frontal-adorable-nino-sonriendo_23-2148244888.jpg">
      </div>
  </div>
</header>
