<div *ngIf ="service.navPadres == false" class="margin">
  <ul class="nav nav-tabs azul">
    <li class="nav-item blanco">
      <a class="nav-link" routerLink="/mainProfe">Home</a>
    </li>
    <li class="nav-item blanco">
      <a class="nav-link" routerLink="/mainNotasProfesor">Notas</a>
    </li>
    <li class="nav-item blanco">
      <a class="nav-link" routerLink="/asistenciaProfesor">Asistencia</a>
    </li>
    <li class="nav-item blanco">
      <a class="nav-link" routerLink="/comportamientoProfesor">Comportamiento</a>
    </li>
    <li class="nav-item blanco">
      <a class="nav-link" routerLink="/mensajesProfe">Comunicacion</a>
    </li>
  </ul>
</div>

<div *ngIf ="service.navPadres == true" class="margin"> 
    <ul class="nav nav-tabs azul">
      <li class="nav-item blanco">
        <a class="nav-link " routerLink="/mainPadre">Home</a>
      </li>
      <li class="nav-item dropdown blanco">
        <a class="nav-link" routerLink="/mainNotasPadre">Notas</a>
      </li>
      <li class="nav-item blanco">
        <a class="nav-link" routerLink="/asistenciaPadre">Asistencia</a>
      </li>
      <li class="nav-item blanco">
        <a class="nav-link" routerLink="/comportamientoPadre">Comportamiento</a>
      </li>
      <li class="nav-item blanco">
        <a class="nav-link" routerLink="/mensajesPadre">Comunicacion</a>
      </li>
    </ul>
  </div>
