
<nav class="title">
    <h1>Calificaciones</h1>
</nav>

<div class="body">
<div id="1" *ngIf="mostrarF1 == false && mostrarF2 == false && mostrarF3 == false">
    <div class="row">
        <div class="container"><button (click)="anadirNota()" id="botonx" type="button" class="btn btn-outline-primary">Nueva calificacion</button></div>
    </div>
</div>

<div id="2" *ngIf="mostrarF1 == true && mostrarF2 == false && mostrarF3 == false" >
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form #formInsert="ngForm" (ngSubmit)="insertarNotas(formInsert.value)">
            <div class="form-group">
                <label for="exampleSelect1"><b>Tipo de nota</b></label>
                <select class="form-control" id="exampleSelect1" name="tipoDeCalificacion" required ngModel>
                <option value="examen">Examen</option>
                <option value="trabajo">Trabajo</option>
                </select>
            </div>

            <div class="form-group">
                <label for="example-date-input"><b>Fecha</b></label>
                <input class="form-control" type="date" id="example-date-input" name="fecha" required ngModel>
            </div>
            <div class="container"><button [disabled]="!formInsert.valid" type="submit" class="btn btn-outline-primary">Insertar notas</button>
            </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div id="3" *ngIf="mostrarF2 == true">
            <table class="table">
                <thead class="thead-dark">
                <tr id="titulo">
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nota</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let alumno of alumnos; let i = index">
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellidos}}</td>
                    <td><input type="number" min="0" max="10" id="nota" step="0.1" [(ngModel)]="notas[i].nota"></td>
                </tr>
                </tbody>
            </table>
        <div class="container"><button (click)="actualizar(contenido)" type="button" class="btn btn-outline-primary">Actualizar</button></div>
</div>

<div id="4" *ngIf="mostrarF1 == false && mostrarF2 == false && mostrarF3 == false">
    <div class="row">
        <div class="container margin"><i *ngIf="rojo == true" id="fila" (click)="opciones()" class="fas fa-filter fa-3x" style="color:red"></i><i *ngIf="rojo == false" id="fila" (click)="opciones()" class="fas fa-filter fa-3x"></i></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="container margin" *ngIf="mostrarF5 == true"><form #formFilter="ngForm" (ngSubmit)="filter(formFilter.value)">
                <div class="form-group">
                    <label for="tipo"><b>Tipo de nota</b></label><br>
                    <select class="form-control container" id="tipo" ngModel name="tipoDeCalificacion" ngModel>
                        <option value="todos">Todos</option>
                        <option value="trabajo">Trabajo</option>
                        <option value="examen">Examen</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="tipo"><b>Nota Media</b></label><br>
                    <select class="form-control container" id="tipo" name="estadoNota" ngModel>
                        <option value="todos">Todos</option>
                        <option value="aprobado">Aprobado</option>
                        <option value="suspenso">Suspenso</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form></div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div id="5" *ngIf="mostrarF1 == false && mostrarF2 == false && mostrarF3 == false">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Tipo de nota</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Nota media</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let notamedia of notasmedias; let i = index" id="fila" (click)="editar(i)">
                    <td style="text-transform: uppercase;"><b>{{notamedia.tipo}}</b></td>
                    <td><b>{{notamedia.fecha | fechas}}</b></td>
                    <td><b>{{notamedia.nota}}</b></td>
                </tr>
                </tbody>
            </table>

</div>
<div id="6" *ngIf="mostrarF3 == true">
            <table class="table">
                <thead class="thead-dark">
                <tr id="titulo">
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nota</th>
                    <th scope="col">Modificar</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cambioAlumno of cambioAlumnos; let i = index">
                    <td>{{cambioAlumno.apellido}}</td>
                    <td *ngIf="mostrarF4[i] == false" id="nota">{{cambioAlumno.nota}}</td>
                    <td *ngIf="mostrarF4[i] == true"><input id="insertar" type="number" step="0.1" [(ngModel)]="cambioAlumno.nota"></td>
                    <td *ngIf="mostrarF4[i] == false" id="boton4"><button (click)="cambiar(i)" id="boton3" type="button" class="btn btn-warning">Editar</button></td>
                    <td *ngIf="mostrarF4[i] == true" id="boton5"><button (click)="modificar(i)" id="boton3" type="button" class="btn btn-success">Cambiar</button></td>
                </tr>
                </tbody>
            </table>
        <div class="container"><button (click)="cerrar()" type="button" class="btn btn-outline-primary">Cerrar</button></div>
  </div>
<ng-template #contenido let-modal>
    <div id="modal" class="modal-body" style="background-color: #99FF99 ;">
        <h1 id="nota" class="container"><b>¡Nota Actualizada con Éxito!</b></h1>
    </div>
</ng-template>
</div>
