.container{
    background: rgba(169, 181, 196, 0.8);
    width: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    border-width: 1px;
}
#tamaño{
    height: 80px;
    width: 200px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
tr{
    cursor: pointer;
}

#final{
    background-color: white;
}

.body{
    display:block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(169, 181, 196, 0.8);
    width: 80%;
    border-radius: 2%;
}