<nav class="title">
    <h1>Correos</h1>
</nav>
<div class="body">
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Mensajes</a>
    <form class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</nav>
<div class="row">
    <div class="col-12">
        <table class="table">
            <tbody></tbody>
            <tr *ngFor="let mensaje of mensajes; let i = index" (click)="mostrarMensaje(i)">
                <td *ngIf="mostrar==false"><b>{{mensaje.fecha1 | fechas}}</b></td>
                <td *ngIf="mostrar==false"><b>{{mensaje.nombre_alumno}} {{mensaje.apellidos}}</b></td>
            </tr>
            <tr *ngIf="mostrar == true">
                <td id="final"><b>{{mensaje.contenido}}</b></td>
            </tr>
            <tr *ngIf="mostrar == true">
                <!-- <td></td> -->
                <td id="blanco"><button (click)="cerrar()" class="btn btn-dark">Cerrar</button></td>
            </tr>
            <tbody></tbody>
        </table>
    </div>
</div>
</div>
