<nav class="title">
    <h1>Correos</h1>
</nav>
<div class="body">
<nav class="navbar navbar-light bg-light justify-content-between">
    <a *ngIf="mostrar == false" class="navbar-brand">Mensajes</a>
    <i *ngIf="mostrar == true" class="fas fa-arrow-circle-left fa-1x" (click)="cerrar()"></i>
    <form class="form-inline">
        <select #filt *ngIf="filtro == true" id="elige" class="form-control" (change)="filtrar(filt.value)">
            <option value="todos">Todos</option>
            <option *ngFor="let alumno of alumnos; let i = index" value="{{alumno.id_alumno}}">{{alumno.apellidos}}, {{alumno.nombre}}</option>
        </select>
      <button *ngIf="filtro == false" class="btn btn-outline-success my-2 my-sm-0" (click)="desfiltrar()" type="submit">Buscar</button>
      <button *ngIf="filtro == true" class="btn btn-outline-danger my-2 my-sm-0" (click)="desfiltrar()" type="submit">Cerrar</button>
    </form>
</nav>
<div class="row">
    <div class="col-12">
        <table class="table">
            <tr *ngFor="let mensaje of mensajes; let i = index" (click)="mostrarMensaje(i)" [ngStyle]="mensaje.justificada">
                <td *ngIf="mostrar==false"><b>{{mensaje.fecha1 | fechas}}</b></td>
                <td *ngIf="mostrar==false"><b>{{mensaje.nombre_alumno}} {{mensaje.apellidos}}</b></td>
                <td *ngIf="mostrar==false"><i (click)="borrar(i)" class="fas fa-trash-alt"></i></td>
            </tr>
            <tr *ngIf="mostrar == true" class="nonpointer">
                <td id="final">
                <b>{{mensaje.contenido}}</b><br>
                <div class="emojis">
                    <div class="green"><i class="far fa-check-circle fa-2x cursor" (click)="aceptarJustificante(mensaje.id_alumno, mensaje.id_clase, mensaje.fecha1, true)">Justificar</i></div>
                    <div class="red"><i class="far fa-times-circle fa-2x cursor" (click)="aceptarJustificante(mensaje.id_alumno, mensaje.id_clase, mensaje.fecha1, false)">No Justificar</i></div>
                </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>
