<h1><span class="yellow"> Lista de Asistencia</span></h1>
<h2> Angel Miguel Delgado</h2>     
<table class="container">
    <thead>
        <tr>
            <th><option><h1>Nombres</h1></option></th>
            <th><option><h1>Asignatura</h1></option></th>
                <th>Pasar Lista</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <input type="checkbox">   <td>Maria Angeles</td>
            <td>Matematica</td>
            
        </tr>
        <tr>
            <input type="checkbox"> <td>Pedro Perez</td>
            <td>Matematica</td>
            
        </tr>
        <tr>
            <input type="checkbox"><td>Jose Luis Chong</td>
            <td>Matematica</td>
            
        </tr>
    <tr>
        <input type="checkbox"> <td>Ana Carolina Suarez</td>
        <input type="checkbox"><td>Matematica</td>
           
        </tr>
    <tr>
        <input type="checkbox">  <td>Ivan Silverio</td>
            <td>Matematica</td>
          
        </tr>
    <tr>
        <input type="checkbox">  <td>Enrique Garcia</td>
            <td>Matematica</td>
          
        </tr>
    </tbody>
</table> 