<div class="body">
    <div *ngIf="asiste == false && mostrar == false" class="container margen">
            <button type="button" class="btn btn-success" (click)="pasarLista()"><b>Pasar lista</b></button>
    </div>
    <div *ngIf="asiste == false && mostrar == false" class="margen1">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Asignatura</th>
                        <th scope="col">% Asistencia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr (click)="mostrarAsistencia()" class="fila">
                        <td>19-08-1996</td>
                        <td>Biologia</td>
                        <td>79%</td>
                    </tr>
                    </tbody>
                </table>
    </div>

    <div *ngIf="asiste == true" class="container margen">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="form-group">
                    <label for="exampleSelect2"><b>Asignatura</b></label>
                    <select class="form-control" id="exampleSelect2">
                        <option value="">Biologia</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="example-date-input"><b>Fecha</b></label>
                    <input class="form-control" type="date" id="example-date-input">
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div *ngIf="asiste == true">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Asistencia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Enrique</td>
                        <td>Izquierdo</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    </tbody>
                </table>
    </div>

    <div *ngIf="asiste == true" class="container margen1" id="boton">
        <button type="button" class="btn btn-danger" (click)="enviar()"><b>Terminar</b></button>
    </div>
    </div>

    <div *ngIf="mostrar == true">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Asistencia</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let asistencia of asistencias">
                        <td>{{asistencia.nombre}}</td>
                        <td>{{asistencia.apellido}}</td>
                        <td id="size"><div class="tamaño container border"[ngStyle]="(asistencia.asistencia == true) ? {'background-color': '#99FF99'} : {'background-color': '#FF9999'}"><i *ngIf="asistencia.asistencia == true" class="fas fa-check margin"></i><i *ngIf="asistencia.asistencia == false" class="fas fa-times margin"></i></div></td>
                      </tr>
                    </tbody>
                  </table>
        <div class="container">
            <button type="button" class="btn btn-dark" (click)="cerrar()">Cerrar</button>
        </div>
    </div>