.body{
    background: rgba(169, 181, 196, 0.8);
    width: 80%;
    display:block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    border-width: 1px;
}

.container{
    width: 100%;
    display:block;
    position:relative;
    text-align: center;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.margen{
	position: relative;
    top: 10px;
}

.margen1{
    margin-top: 20px;
    margin-bottom: 100px;
}

#boton{
    position: relative;
    bottom: 20px;
}

.fila{
    cursor: pointer;
}