.body{
    background-color: #d7dfee;
    width: 80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 100%;
    display:block;
    position:relative;
    text-align: center;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.margen{
	position: relative;
    top: 10px;
}

.margen1{
    margin-top: 20px;
    margin-bottom: 100px;
}

#boton{
    position: relative;
    bottom: 20px;
}

.fila{
    cursor: pointer;
}