
<nav class="title">
    <h1>Asistencia</h1>
</nav>
<div class="body">
    <div *ngIf="asiste == false && mostrar == false && detalle == false" class="container margen">
            <button type="button" class="btn btn-success" (click)="pasarLista()"><b>Pasar lista</b></button>
            <button id="detalle" type="button" class="btn btn-warning" (click) = "detalles()">Detalle Alumno</button>
    </div>
    <div *ngIf="asiste == false && mostrar == false && detalle == false" class="margen1">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">% Asistencia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let porcentaje of porcentajes; let i = index" (click)="mostrarAsistencia(i)" class="fila">
                        <td><b>{{porcentaje.fecha1 | fechas}}</b></td>
                        <td><b>{{porcentaje.asistencias | porcentaje}}</b></td>
                    </tr>
                    </tbody>
                </table>
    </div>
    <div *ngIf="detalle == true && chart1 == false">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Alumno</th>
                <th scope="col">Asiste</th>
                <th scope="col">FJ</th>
                <th scope="col">FNJ</th>
            </tr>
            </thead>
            <tbody>
            <tr class="fila" *ngFor="let detail of details; let i = index" (click)="piechart(i)">
                <td><b>{{detail.apellidos}}, {{detail.nombre}}</b></td>
                <td><b>{{detail.totales}}</b></td>
                <td><b>{{detail.justificadas}}</b></td>
                <td><b>{{detail.no_justificadas}}</b></td>
            </tr>
            </tbody>
        </table>
        
        <div class="container"><button type="button" class="btn btn-dark" (click)="close()">Cerrar</button></div>
    </div>

    <div *ngIf="asiste == true" class="container margen">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="form-group">
                    <label for="example-date-input"><b>Fecha</b></label>
                    <input class="form-control" type="date" id="example-date-input" [(ngModel)] = "fecha">
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div *ngIf="asiste == true">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Asistencia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor = "let alumno of alumnos; let i = index">
                        <td>{{alumno.nombre}}</td>
                        <td>{{alumno.apellidos}}</td>
                        <td><input (change)="chequeado(alumno.id_alumno, $event.target.checked)" type="checkbox" checked></td>
                    </tr>
                    </tbody>
                </table>
    </div>

    <ng-template #contenido let-modal>
        <div id="modal" class="modal-body" style="background-color: #99FF99 ;">
            <h3 id="nota" class="container"><b>¡Asistencia Registrada!</b></h3>
        </div>
    </ng-template>

    <div *ngIf="asiste == true" class="container margen1" id="boton">
        <button type="button" class="btn btn-danger" (click)="enviar(contenido)"><b>Terminar</b></button>
    </div>
    

    <div *ngIf="mostrar == true">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Justificante</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let falta of faltaAsistencia">
                        <td>{{falta.nombre}}</td>
                        <td>{{falta.apellidos}}</td>
                        <td id="size"><div class="tamaño container border"[ngStyle]="(falta.justificada == true) ? {'background-color': '#99FF99'} : {'background-color': '#FF9999'}"><i *ngIf="falta.justificada == true" class="fas fa-check margin"></i><i *ngIf="falta.justificada == false" class="fas fa-times margin"></i></div></td>
                      </tr>
                    </tbody>
                  </table>
        <div class="container">
            <button type="button" class="btn btn-dark" (click)="cerrar()">Cerrar</button>
        </div>
    </div>
</div>

<div *ngIf="chart1 == true">
    <div>
      <div class="chart">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
  <div *ngIf="chart1 == true">
    <div id="volver" class="fila"><i (click)="cerrarChart()" class="fas fa-arrow-circle-left fa-2x"></i></div>
</div>