<nav class="title">
  <h1>Comportamiento</h1>
</nav>

<div class="body">
    <div class="flex">
      <div>
          <div class="flex-item">
            <div class="height">
            <canvas id="graf" baseChart width="400px" height="200px"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
            </canvas>
            </div>
          </div>
      
          <div class="flex-item container">
            <table class="table table-responsive table-condensed center">
              <tr>
                <th>Tipo de conducta</th>
                <th *ngFor="let label of lineChartLabels">{{label}}</th>
              </tr>
              <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                <td>{{d.label}}</td>
                <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
              </tr>
            </table>
            <button type="button" class="btn btn-primary" routerLink="/comportamientoGlobal">Global</button>
          </div>
      </div>
    </div>
</div>

