<body class="body">
    <div class="flex">
        <div *ngIf="semana == false"><div class="flex-item">
          <div  style="display: block;">
          <canvas id="graf" baseChart width="400" height="400"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="flex-item container">
          <table class="table table-responsive table-condensed">
            <tr>
              <th *ngFor="let label of lineChartLabels">{{label}}</th>
            </tr>
            <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
              <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
            </tr>
          </table>
          <button type="button" class="btn btn-dark" (click)="cambiar('semana')">10 Días</button>
        </div></div>

        <div *ngIf="semana == true"><div class="flex-item">
            <div  style="display: block;">
            <canvas id="graf" baseChart width="400" height="400"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabelsW"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
            </canvas>
            </div>
        </div>
          <div class="flex-item container">
            <table class="table table-responsive table-condensed">
              <tr>
                <th *ngFor="let label of lineChartLabelsW">{{label}}</th>
              </tr>
              <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                <td *ngFor="let label of lineChartLabelsW; let j=index">{{d && d.data[j]}}</td>
              </tr>
            </table>
                <button type="button" class="btn btn-dark" (click)="cambiar('mes')">Mes</button>
          </div></div>
    </div>
</body>