body {
    background-image: url(https://germanfebres.files.wordpress.com/2020/10/ninos-emprendedores-1-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
}


