
<nav class="title">
  <h1>Asistencia</h1>
</nav>
<div class="body">
    <div class="margin"><div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Asignatura</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Justificar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Matematicas</td>
                    <td>25/06/2020</td>
                    <td><input type="checkbox"></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-1"></div>
    </div></div>
    <div id="boton" class="container">
        <button type="button" class="btn btn-success">Justificar</button>
    </div>
    <div>
        <p>hola</p>
    </div>
</div>
