<h1><span class="yellow"> Lista de Asistencia</span></h1>
<h2> Angel Miguel Delgado</h2>     
<table class="container">
    <thead>
        <tr>
            <th><h1>Nombres</h1></th>
            <th><h1>Asignatura</h1></th>
            <!-- <th><h1>Fecha</h1></th> -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Maria Angeles</td>
            <td>Matematica</td>
        </tr>
        <tr>
            <td>Pedro Perez</td>
            <td>Matematica</td>

        </tr>
        <tr>
            <td>Jose Luis Chong</td>
            <td>Matematica</td>

        </tr>
    <tr>
            <td>Ana Carolina Suarez</td>
            <td>Matematica</td>

        </tr>
    <tr>
            <td>Ivan Silverio</td>
            <td>Matematica</td>

        </tr>
    <tr>
            <td>Enrique Garcia</td>
            <td>Matematica</td>
        </tr>
    </tbody>
</table>
