/* :host .my-app-class {
	background-image:url(http://il2.picdn.net/shutterstock/videos/17464699/thumb/6.jpg);
	background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
} */

.title{
    margin-top: 1%;
    position: relative;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50%;
     margin-bottom: 3%;
  }


.body{
    background:rgba(249,247,249, 0.6);
    width: 80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    border-width: 1px;
}
.container{
    width: 100%;
    display:block;
    position:relative;
    text-align: center;
    height: auto;
}
.fila{
    cursor: pointer;
}

.margin{
	position: relative;
	top: 20px;
}

#boton{
	margin-top: 10px;
	margin-bottom: 10px;
}

p{
	color:hsl(219, 40%, 89%) ;
}