
<div class="cards">

  <h1> StudentView</h1>

<div class="services">
    <div *ngFor="let alumno of alumnos; let i = index"  class="content content-1">
      <!-- <i class="far fa-user"></i> -->
      <h2>{{alumno.nombre}}</h2>
      <p>{{alumno.colegio}}</p>
      <p>{{alumno.curso}}</p>
      <a class="cursor" (click)="mostrarAsignaturas(i)">Asignaturas</a>
      <div *ngIf="alumno.mostrar == true">
        <ul class="lista" *ngFor="let asignatura of alumno.asignaturas">
          <li>{{asignatura}}</li>
        </ul>
      </div>
    </div>
    

</div>
</div>

