<nav class="title">
    <h1>Añadir Clases</h1>
  </nav>
<div class="body">
    <div *ngIf="insertar == true">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of alumnos; let i = index">
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td><input (change)="chequeado(alumno.id_hijo, $event.target.checked)" type="checkbox"></td>
                </tr>
            </tbody>
        </table>
        <ng-template #contenido let-modal>
            <div id="modal" class="modal-body" style="background-color: #99FF99 ;">
                <h3 id="nota" class="container"><b>¡Clase Añadida!</b></h3>
            </div>
        </ng-template>
        <button (click)="insertarAlumnos(contenido)" class="btn btn-warning container">Añadir Alumnos</button>
    </div>

    <form *ngIf = "insertar == false" #formInsert="ngForm" (ngSubmit)="crearClase(formInsert.value)"  class="container" id="añadir">
        <div *ngIf="insertar == false" class="form-group">
            <label for="nombre"><b>Nombre de la clase</b></label><br>
            <input type="text" id="nombre" class="form-control" name="nombre" placeholder="Introduzca asignatura - curso"equired ngModel>
        </div>
        <div *ngIf="insertar == false" class="form-group">
            <label for="colegio"><b>Colegios</b></label><br>
            <select class="form-control" id="colegio" name="colegio" required ngModel>
                <option value="">Ninguno</option>
                <option *ngFor="let colegio of colegios" value="{{colegio.id_colegio}}">{{colegio.nombre}}</option>
            </select>
        </div>
        <div *ngIf="insertar == false" class="form-group">
            <label for="asignatura"><b>Asignaturas</b></label><br>
            <select class="form-control" id="asignatura" name="asignatura" required ngModel>
                <option value="">Ninguno</option>
                <option *ngFor="let asignatura of asignaturas" value="{{asignatura.id_asignatura}}">{{asignatura.nombre}}</option>
            </select>
        </div>
        <div *ngIf="insertar == false" class="form-group">
            <label for="curso"><b>Seleccione curso</b></label><br>
            <select class="form-control" id="curso" name="curso" ngModel>
                <option value="">Ninguno</option>
                <option *ngFor="let curso of cursos" value="{{curso.id_curso}}">{{curso.nombre}}</option>
            </select>
        </div>
        <div class="row">
            <div class="container"><button [disabled]="!formInsert.valid" type="submit"  class="btn btn-dark">Crear clase</button></div>
        </div>
    </form>
</div>