<nav class="title">
    <h1>Añadir Clases</h1>
  </nav>
<div class="body">
    <div *ngIf="insertar == true">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Marcos</td>
                    <td>Alonso Martinez</td>
                    <td><input type="checkbox"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <form #formInsert="ngForm" (ngSubmit)="crearClase(formInsert.value)"  class="container" id="añadir">
        <div *ngIf="insertar == false" class="form-group">
            <label for="nombre"><b>Nombre de la clase</b></label><br>
            <input type="text" id="nombre" class="form-control" name="nombre" required ngModel>
        </div>
        <div *ngIf="insertar == false" class="form-group">
            <label for="colegio"><b>Colegios</b></label><br>
            <select class="form-control" id="colegio" name="colegio" required ngModel>
                <option value="">Ninguno</option>
                <option *ngFor="let colegio of colegios" value="{{colegio.id_colegio}}">{{colegio.nombre}}</option>
            </select>
        </div>
        <div *ngIf="insertar == false" class="form-group">
            <label for="asignatura"><b>Asignaturas</b></label><br>
            <select class="form-control" id="asignatura" name="asignatura" required ngModel>
                <option value="">Ninguno</option>
                <option *ngFor="let asignatura of asignaturas" value="{{asignatura.id_asignatura}}">{{asignatura.nombre}}</option>
            </select>
        </div>
        <div *ngIf="insertar == false" class="form-group">
            <label for="curso"><b>Seleccione curso</b></label><br>
            <select class="form-control" id="curso" name="curso" required ngModel>
                <option value="">Ninguno</option>
                <option *ngFor="let curso of cursos" value="{{curso.id_curso}}">{{curso.nombre}}</option>
            </select>
        </div>
        <div class="row">
            <div class="container"><button [disabled]="!formInsert.valid" type="submit"  class="btn btn-dark">Añadir</button></div>
        </div>
    </form>
    <div *ngIf="insertar == false" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <i (click)="insertarAlumnos()" class="fas fa-user-plus cursor"><b><i>Añadir Alumnos</i></b></i>
        </div>
        <div class="col-2"></div>
    </div>
</div>